
/* CSS style for lab3 */

  body {
            margin:0;
            height:100vh;
            background-color: #67c090;
        }

        .ball {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background: #DDF4E7;
            opacity: 0;
            transition: transform 1s;
        } 

        p {
            margin-top: 10rem;
            text-align: center;
            font: bold 2rem sans-serif;
        }

header{background-color:#56A7A7 ;
    color:#F9FBFC;   /*text for the header*/
    text-align: center;
    padding:.5rem;
    font-size: 1.5em;
}
 
article{
   margin:0;
	padding:0;
}




 
     
        
         footer{
           text-align: center;
    font-size: 0.85em;
    clear: left;
    background-color: #365666;
    font-weight: bold;
    color: #fff;
        }
    footer a {
    color: #234b95;
    text-decoration: none;
}
.demo{
   width: 50%;
  height:50%;
  margin: 2rem auto;
  padding: 2rem;
  background: hsla(90, 50%, 50%, .5)  
}

.basic-box {
  display: grid;
  width: 50px;
  height:50px;
  background: #124170;
  margin: 1rem;
  place-items: center;
  color:#DDF4E7
}

.go-btn, .go-btn2, .go-btn3 {
  background: #8c9;
  border-radius: 50%;
  color:black
  
}


.mover1 {
  transition: all 3s ease-in-out;
  transform: translateX(400px);
}
.mover2{
  transition: all 2s ease-out;
    transform: translateX(400px);

}
.mover3{
  transition: all 7s ease-in;
    transform: translateX(400px);

}

